* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(99, 173, 233);
}

a:active {
    color: rgb(99, 173, 233);
}