.email-app {
    display: grid;
}

.mails {
    margin-left: 50vh;
    background-color: rgb(55, 56, 55);
}

.side-bar {
    position: fixed;
    background-color: #52514f3b;
    width: calc(50vh);
    height: 100%;
}