.note-list {
  display: grid;
  width: 85%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
  grid-auto-flow: dense;
  border: 2px solid black;
}
