.header {
    background-color: rgb(233, 155, 12);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #e5e5e5;
}

ul {
    list-style: none;
    flex-direction: row;
    margin-inline-end: 10vh;
}

ul li {
    margin-inline-end: 10vh;
}

.logo {
    margin-inline-start: 10vh;
}

ul li :active {
    color: rgb(54, 201, 188);
}